body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff8000;
}
/*HEADER*/
.header{
    color: white;
    padding: 30px 15px;
    margin: 0;
    border-bottom: 10px solid #d45d08;
    background-color: #2e2e2e;
}
/*NAV BAR*/
.navbar{
    width: 960px;
    height: 45px;
    background-color: #111;
}
ul{
    padding: 0;
    margin: 0;
    height: 45px;
    list-style: none;
}
li{
    float: left;
    display: block;
    padding: 12px 0;
}
a{
    color: #ddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    border-right: 2px solid white;
    text-transform: uppercase;
    padding: 0 20px;
    text-decoration: none;
}
/*MANIPULAR TEXT*/
.centrar{
    text-align: center;
}
.justificar{
    text-align: justify;
}

/*Contenido de la pag*/
.contenedor{
    padding: 0;
    margin: 50px auto 0;
    width: 960px;
}
.contenido{
    margin: 0;
    padding: 10px;
    float: left;
    width: 936px;
    background-color: white;
    border: 3px solid black;
}
/*img{
    border-color: aliceblue;
}